{% extends 'base_generic.html' %}

{% block content %}

{% if request.user.id == seed.tournament.creatorid.account_id %}
    <form method="post">
      {% csrf_token %}
      <br>
      {{ form.as_p }}
      <button type="submit" value="Update">Save changes</button>
    </form>

{% else %}
    <p><strong>This is not your tournament. You cannot edit it. It is {{ seed.tournament.tournament_name }} and is owned by {{ seed.tournament.creatorid.name }} {{ request.user.id }} {{ seed.tournament.creatorid.id }}</strong></p>
{% endif %}
{% endblock %}